:root {
    --cor-primaria: #055a05;
    /* verde-floresta */
    --cor-destaque1: #264653;
    /* azul-escuro acinzentado */
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

header,
main,
footer {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
}

.socialmedia a,
footer a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: #fff;
}

.hero article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.hero article img {
    width: 125px;
}

.historia {
    display: flex;
    justify-content: space-around;
}

.imagens h2 {
    margin-bottom: 20px;
}

.imagens div {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.imagens div img {
    width: 10rem;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 12px;
}

.redes-sociais img {
    width: 32px;
}