* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #222;
    background: #fff;
    margin: 0;
    max-width: 1020px;
    margin: 0 auto;
    width: 100%;
}

nav {
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

.grid {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 20rem;
    gap: 1rem;
    margin-top: 1rem;
}

main {
    max-width: 1020px;
}

main img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    color: #333;
    text-align: center;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em;
    background-color: #eee;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 110px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

.indentacao {
    padding-left: 2rem;
}