:root {
    --centraliza-texto: center;
}

main {
    max-width: 1020px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 90%;
    margin: 6px;
    padding: 1rem 2rem;
    border: 1px solid rgb(150, 145, 145);
    border-radius: 18px;
    color: black;
    background-color: antiquewhite;
    text-align: var(--centraliza-texto);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(150, 145, 145);
    text-align: var(--centraliza-texto);
}